################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/annulus/__pycache__
/dist
/build
/*.egg-info
/.pytest_cache